@charset "UTF-8";
/* CSS Document */
figure {
	font-family: Georgia, "Times New Roman", Times, serif;
	border: solid 1px #221100;
	background-color: #FFEEDD;
}

label {
	display: inline-block;
}

/* SVG styles */
.ball {
	display: none;
}
.socket {
	display: none;
}

